<div class="single-blog-page">
  {{> blog-info blog }}

{{#if loggedIn}}
  <form class="comment-form">
    <div class="comment-text-area">
      <textarea name="comment-body" class="comment-body" placeholder="comment text" rows="3"></textarea>
    </div>

    <div>
      <button type="submit" class="comment-btn">Add Comment</button>
    </div>
  </form>
{{/if}}

{{> comments blog.comments}}

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}
</div>
